<main>
  <form class="addProductForm" id="addProductForm">
    <input type="text" placeholder="Titulo" class="inputBox" name="title" />
    <input type="text" placeholder="URL" class="inputBox" name="url" />
    <input type="text" placeholder="Price" class="inputBox" name="price" />
    <button type="submit" class="enviar" id="submitButton">Agregar Producto</button>
  </form>
</main>